<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/admin/auth/approveUsers.css">
    <title>Admin - Approva Amministratori</title>
</head>
<body>
    <%- include('../components/header.ejs') %>
    <main>
        <div id="adminsList" class="approval-list">
            <%if(needApprovationAdmins != '') { %>
                <div id="cards">
                    <% for(const admin of needApprovationAdmins) { %>
                        <div class="user-card">
                            <div class="user-card-header">
                                <h3>Utente: <%= admin.nome %> <%= admin.cognome %></h3>
                            </div>
                            <ul class="user-info">
                                <li><strong>Email:</strong> <%= admin.email %></li> 
                            </ul>
                            <div class="buttons">
                                <form action="/admin/adminApprovation" method="post">
                                    <input type="hidden" name="id" value="<%= admin._id %>">
                                    <input type="submit" class="approve-button" name="approve" value="Approva">
                                    <input type="submit" class="disapprove-button" name="disapprove" value="Disapprova">
                                </form>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } else{ %>
                <h1>Non ci sono admin in attesa di approvazione</h1>
            <% } %>
        </div>
    </main>
</body>
</html>