<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profilo</title>
    <style>
/* Reset di base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stili generali */
body {
    font-family: 'Arial', sans-serif;
    background: #f4f4f4;
    color: #333;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.profile-subtitle{
    width: fit-content;
    border-radius: 3px;
    border-bottom: 3px solid #7e4cce;
}

.profile-action{
    display: flex;
    justify-content: space-between;
    align-items: end;
}

span.btn-edit {
    color: #7e4cce;
    text-decoration: none;
    cursor: pointer;
    transition: .25s ease-in-out;
    font-size: 2rem;
    user-select: none;
}
.btn-edit:hover {
    opacity: .7;
}

.profile-fieldset ul li{
    list-style: none;
    display: flex;
    align-items: end;
    justify-content: space-between;
}
.profile-fieldset ul li strong{
    opacity: .7;
}
.profile-fieldset ul li input {
    background: none;
    border: none;
    border-bottom: 2px solid #7e4cce;
    text-transform: capitalize;
    font-size: 1rem;
    color: #333;
    max-width: 250px;
    width: 100%;
    margin: 5px 0;
    outline: none;
}

.profile-input:disabled {
    border: none;
    color: #333;
    text-align: right;
    -moz-appearance: textfield;
}
input[type="date"]:disabled::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.profile-fieldset ul li input:not(:disabled){
    border: none;
    border-bottom: 1px solid #7e4cce;
    outline: none;
    text-align: center;
}

hr{
    border: 1px dashed #7e4cce;
    margin-block: 20px;
}

.submit-container{
    margin-top: 25px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#submitBtn{
    display: none;
    opacity: 0;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background: #7e4cce;
    color: #f4f4f4;
    padding: 10px 20px;
    transition: .25s ease-in-out;
}
#submitBtn:hover{
    opacity: .8;
}
        .imagesContainer{
            margin: 0 auto;
            max-width: 800px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            margin-top: 25px;
        }
        .imageBox{
            padding: 20px;
            border-radius: 5px;
            max-width: 300px;
            width: 100%;
            background: #fff;
            text-align: center;
        }

        .imageBox img{
            max-width: 300px;
            width: 100%;
            height: auto;
            object-fit: contain;
            margin-top: 25px;
        }
        .imageBox .actionsBtns{
            display: flex;
            justify-content: space-evenly;
        }
        .imageBox .actionsBtns span{
            cursor: pointer;
        }
        .imageBox .actionsBtns span.deleteImgBtn{
            color: red;
        }
        .imageBox .actionsBtns span.uploadImgBtn{
            color: #7e4cce;
        }
@media (max-width: 600px) {
    .container {
        border-radius: 0;
    }
    main{
        margin-top: calc(var(--header-height)) !important;
    }
    .profile-subtitle{
        margin-block: 15px;
    }
    .profile-fieldset ul li input {
        font-size: .8rem;
        max-width: 150px;
    }
}

    </style>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
    <%- include('components/header.ejs') %>
     <main>
        <div class="container">
            <div class="profile-header">
                <h1>Profilo Utente</h1>
            </div>
            <section class="profile">
                
                <form action="/user/data/update" method="POST">
                    <div class="profile-fieldset">
                        <div class="profile-action">
                            <h3 class="profile-subtitle">Dettagli Personali</h3>
                            <span id="edit-button" class="material-symbols-rounded btn-edit">
                                edit_note
                            </span>
                        </div>
                        
                        <ul>
                            <li><strong>Nome:</strong> <input type="text" name="nome" value="<%= data.nome %>" id="detail-nome" class="profile-input" disabled></li>
                            <li><strong>Cognome:</strong> <input type="text" name="cognome" value="<%= data.cognome %>" id="detail-cognome" class="profile-input" disabled></li>
                            <li><strong>Codice Fiscale:</strong> <input style="text-transform: uppercase;" type="text" name="cf" value="<%= data.cf %>" id="cf" class="profile-input" disabled></li>
                            <li><strong>Telefono:</strong> <input type="text" name="contatti[tel]" value="<%= data.contatti.tel %>" id="telefono" class="profile-input" disabled></li>
                            <li><strong>Email:</strong> <input style="text-transform: lowercase;" type="email" name="contatti[email]" value="<%= data.contatti.email %>" id="email" class="profile-input" disabled></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="profile-fieldset">
                        <h3 class="profile-subtitle">Residenza</h3>
                        <ul>
                            <li><strong>Via:</strong> <input type="text" name="residenza[via]" value="<%= data.residenza.via %>" id="via" class="profile-input" disabled></li>
                            <li><strong>Civico:</strong> <input type="text" name="residenza[nCivico]" value="<%= data.residenza.nCivico %>" id="ncivico" class="profile-input" disabled></li>
                            <li><strong>CAP:</strong> <input type="text" name="residenza[cap]" value="<%= data.residenza.cap %>" id="cap" class="profile-input" disabled></li>
                            <li><strong>Comune:</strong> <input type="text" name="residenza[comune]" value="<%= data.residenza.comune %>" id="comune" class="profile-input" disabled></li>
                            <li><strong>Provincia:</strong> <input type="text" name="residenza[provincia]" value="<%= data.residenza.provincia %>" id="provincia" class="profile-input" disabled>
                    </div>
                    <hr>
                    <div class="profile-fieldset">
                        <h3 class="profile-subtitle">Patente di Guida</h3>
                        <ul>
                            <li><strong>Numero Patente:</strong> <input type="text" name="patente[numero]" value="<%= data.patente.numero %>" id="patente-numero" class="profile-input" disabled></li>
                            <li><strong>Rilascio:</strong> <input type="date" name="patente[rilascio]" value="<%= data.patente.rilascio %>" id="patente-rilascio" class="profile-input" disabled></li>
                            <li><strong>Scadenza:</strong> <input type="date" name="patente[scadenza]" value="<%= data.patente.scadenza %>" id="patente-scadenza" class="profile-input" disabled></li>
                        </ul>
                    </div>
                    <div class="submit-container">
                        <button id="submitBtn" type="submit">Salva</button>
                    </div>
                </form>
            </section>
        </div>
     </main>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            const editButton = document.getElementById('edit-button');
            const inputs = document.querySelectorAll('.profile-input');
            const submitBtn = document.getElementById('submitBtn');
            const values = [];

            editButton.addEventListener('click', () => {
                const editBtnContent = editButton.textContent.trim();
                const isEditing = editBtnContent == 'edit_note';
                inputs.forEach((input, index) => {
                    if(input.disabled) values.push(input.value);
                    if(!input.disabled) input.value = values[index];
                    if(index == 0 && isEditing) input.focus();
                    input.disabled = !input.disabled;
                });
                editButton.textContent = isEditing ? 'close' : 'edit_note';
                editButton.style.fontWeight = isEditing ? '600' : '';
                submitBtn.style.display = isEditing ? 'block' : 'none';
                setTimeout(() => {
                    submitBtn.style.opacity = isEditing ? 1 : 0;
                }, 0);
                
            });
        });
    </script>
    <h2 style="text-align: center; margin-top: 25px;">Foto Documenti</h2>
    <section class="imagesContainer">
        <% const directories = ["idCardBack", "idCardFront", "licenseBack", "licenseFront", "sanitaryBack", "sanitaryFront"] %>
        <% const titles = ["Retro Carta D'Identità", "Fronte Carta D'Identità", "Retro Patente", "Fronte Patente", "Retro Tessera Sanitaria", "Fronte Tessera Sanitaria"] %>
        <% directories.forEach((dir, i) => { %>
            <div class="imageBox">
                <h3><%= titles[i] %></h3>
                <img src="<%= `/user/images?dir=${dir}` %>" alt="<%= dir %>" onerror="this.src = `/img/default/document.png`">
                <div class="actionsBtns">
                    <form id="<%= `delete_${dir}_form` %>">
                        <input type="hidden" name="dir" value="<%= dir %>">
                        <span class="material-symbols-rounded deleteImgBtn">
                            delete
                        </span>
                    </form>
                    <form id="<%= `${dir}_form` %>"enctype="multipart/form-data">
                        <label for="<%= `${dir}_image` %>">
                            <span class="material-symbols-rounded uploadImgBtn">
                                add_photo_alternate
                            </span>
                        </label>
                        <input type="hidden" name="customerId" value="<%= customerId %>">
                        <input type="file" class="uploadImgInput" name="<%= `${dir}` %>" id="<%= `${dir}_image` %>" style="display: none;">
                    </form>
                </div>
            </div>
        <% }); %>
        <script>
            const uploadImgInputs = document.querySelectorAll('.uploadImgInput');
            for (const input of uploadImgInputs) {
                input.addEventListener('change', async () => {
                    const dir = input.name;
                    const form = document.getElementById(`${dir}_form`);
                    let formData = new FormData(form);
                    const fileResponse = await fetch('/user/uploadFiles', {
                        method: 'POST',
                        body: formData
                    });
                    if (!fileResponse.ok) {
                        throw new Error('Error uploading files');
                    }
                    const imageBox = form.closest('.imageBox');
                    imageBox.querySelector('img').src = `/user/images?dir=${dir}&timeStamp=${new Date().getTime()}`;
                });
            }

            const deleteImgBtns = document.querySelectorAll('.deleteImgBtn');
            for (const btn of deleteImgBtns) {
                btn.addEventListener('click', async () => {
                    const form = btn.closest('form');
                    const dir = btn.closest('form').id.split('_')[1];
                    const fileResponse = await fetch('/user/images/delete', {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({dir: dir})
                    });
                    if (!fileResponse.ok) {
                        throw new Error('Error deleting files');
                    }
                    const imageBox = form.closest('.imageBox');
                    imageBox.querySelector('img').src = `/img/default/document.png`;
                });
            }
        </script>
    </section>
</body>
</html>